/*Logo della scritta*/
#logo{
    background-image: url(img/pattern.png);
    background-color: hsl(212, 96%, 56%);
    width: auto;
    height: 180px;
}

/*Immagine sopra alla pagina*/
header img{
    background-color: rgba(21, 107, 206,0.85);
    width: 260px;
    height: 65px;
    margin-top: 94px;
    margin-left: 10px;
}

/*Font dei titoli*/
h1{
    font-size: 40px;
    margin: 0px;
    margin-top:10px;
    
}

/*Intestazioni sotto al titolo*/
#thebooleaner{
    color: hsl(212, 96%, 56%);
    font-family: fantasy;
}
#scritto{
    color:gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#data{
    color:gray;
    font-size:11px;
    font-family: cursive;
}

/*Prime due foto*/
#primafoto{
    width: 714px;
    height:450px;
}
#secondafoto{
    width: 615px;
    height:450px;
}

/*font della scritta sotto le prime due foto*/
#duefoto span{
    font:15px;
    font-variant-caps: titling-caps;
}

/*Lista*/
#listapuntata1 ul{ 
    padding-inline-start:17px;
}

/*Tabella*/
table{
    border-spacing: 0px;
    padding-bottom: 25px;
}

#tabella1 #riga1{
    background-color: steelblue;
}

#riga1{
    color:white;
}
.colonna1,.colonna2{
    width: 300px; 
}

#riga2,#riga4{
    background-color: rgb(143, 214, 255);
}

div{
    padding-bottom: 5px;
}

/*Scritta sopra le ultime due foto*/
footer strong{
    color:rgb(90, 90, 90);
    font-size: 15px;
}

/*Testo sulle ultime due immagini*/
.testo1 {
    position: relative;
    font-family: fantasy;
    font-size: 25px;
    bottom: 200px;
    left: 20px;
    color: rgb(255, 255, 255);
  }

  /*Evidenzia testo*/
  .evidenziato{
      background-color: rgba(255, 255, 0, 0.527);
  }